!pip install yfinance --upgrade --no-cache-dir
!pip install pandas_datareader --upgrade --no-cache-dir
from datetime import datetime
start = datetime(2021, 10, 1).strftime('%Y-%m-%d')
end = datetime.today().strftime('%Y-%m-%d')
print(start, end)

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import yfinance as yf 
yf.pdr_override()
from datetime import datetime

In [2]:
#data de inicio e fim da captura do historico de ações
#yf.pdr_override()
data_inicial = datetime(2021, 10, 15).strftime('%Y-%m-%d')
data_final = datetime.today().strftime('%Y-%m-%d')

In [3]:
#le a planilha de ações
empresas_df = pd.read_excel("Empresas.xlsx")
empresas_df

  Empresas
0    ^BVSP
1    CXSE3
2    BBSE3
3   CXCO11
4    PSSA3
5   SULA11

In [4]:
#percorre o data frame e mostra as ações
for empresa in empresas_df['Empresas']: 
    print(f"{empresa}:")
    if empresa == '^BVSP':        
        df = web.DataReader(f'{empresa}', data_source='yahoo', start=data_inicial, end=data_final)
    else:
        df = web.DataReader(f'{empresa}.SA', data_source='yahoo', start=data_inicial, end=data_final)
    display(df)

^BVSP:
[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close    Volume
Date
2021-10-15  113189.0  114776.0  113049.0  114648.0   114648.0  11174900
2021-10-18  114647.0  114927.0  112841.0  114428.0   114428.0  11201300
2021-10-19  114422.0  114422.0  109947.0  110673.0   110673.0  14129200
2021-10-20  110677.0  112023.0  110176.0  110786.0   110786.0  11735800
2021-10-21  110767.0  110767.0  105714.0  107735.0   107735.0  16507700
2021-10-22  107714.0  107749.0  102854.0  106296.0   106296.0  21165700
2021-10-25  106298.0  109372.0  106296.0  108715.0   108715.0  11512100
2021-10-26  108713.0  108713.0  106321.0  106420.0   106420.0  10762200
2021-10-27  106433.0  108224.0  106045.0  106363.0   106363.0  10831300
2021-10-28  106369.0  107210.0  105282.0  105705.0   105705.0  11502900
2021-10-29  105707.0  105954.0  103430.0  103501.0   103501.0  12595800
2021-11-01  103514.0  106136.0  103514.0  105551.0   105551.0  10734800
2021-11-03  105547.0  106754.0  104205.0  105617.0   105617.0  14696900
2021-11-04  105617.0  105627.0  102835.0  103412.0   103412.0  12084000
2021-11-05  103412.0  105555.0  103412.0  104824.0   104824.0  12595000

CXSE3:
[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close  Adj Close    Volume
Date
2021-10-15  8.70  9.70  8.63   9.69   9.428378  13934900
2021-10-18  9.64  9.93  9.16   9.90   9.632709   6985800
2021-10-19  9.80  9.87  9.52   9.66   9.399188   4467300
2021-10-20  9.66  9.77  9.50   9.59   9.331079   3982300
2021-10-21  9.25  9.45  8.97   9.14   8.893229   4738000
2021-10-22  9.13  9.19  8.56   9.04   8.795928   5835000
2021-10-25  9.17  9.56  9.07   9.40   9.146208   4577600
2021-10-26  9.35  9.35  8.86   9.02   8.776468   6862900
2021-10-27  9.07  9.18  8.91   8.93   8.688898   3055400
2021-10-28  8.90  8.99  8.75   8.78   8.542948   2437900
2021-10-29  8.81  8.89  8.64   8.75   8.513758   3726800
2021-11-01  8.89  9.03  8.67   8.97   8.727818   2346400
2021-11-03  8.97  9.16  8.81   9.06   8.815389   3344100
2021-11-04  9.07  9.28  8.99   9.06   8.815389   4476700
2021-11-05  8.88  9.15  8.70   9.12   9.120000   4026200

BBSE3:
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-10-15  21.330000  21.709999  21.080000  21.680000  21.680000   4630300
2021-10-18  21.580000  21.900000  21.209999  21.680000  21.680000   4367800
2021-10-19  21.530001  21.620001  21.120001  21.260000  21.260000   5938100
2021-10-20  21.350000  21.750000  21.270000  21.410000  21.410000   4302000
2021-10-21  20.990000  21.620001  20.940001  21.500000  21.500000  12391000
2021-10-22  21.330000  21.959999  20.809999  21.670000  21.670000  13063100
2021-10-25  21.799999  22.650000  21.780001  22.440001  22.440001  10325000
2021-10-26  22.170000  22.410000  22.020000  22.170000  22.170000   5159700
2021-10-27  22.280001  22.870001  22.150000  22.500000  22.500000   5737100
2021-10-28  22.350000  22.620001  22.120001  22.170000  22.170000   4222500
2021-10-29  22.299999  22.480000  22.010000  22.090000  22.090000   6367900
2021-11-01  22.389999  22.459999  22.020000  22.049999  22.049999   3743100
2021-11-03  22.000000  22.690001  22.000000  22.610001  22.610001   7400100
2021-11-04  22.600000  22.850000  22.299999  22.639999  22.639999   4141900
2021-11-05  22.799999  22.850000  22.480000  22.840000  22.840000   3727100

CXCO11:
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2021-11-05  89.629997  90.290001  89.029999  89.300003  89.300003    1205

PSSA3:
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2021-10-15  22.635000  22.965000  22.520000  22.930000  22.658997  2164800
2021-10-18  22.815001  23.240000  22.620001  23.094999  22.822046  1738200
2021-10-19  23.040001  23.500000  22.959999  23.379999  23.103678  4886400
2021-10-20  23.504999  24.049999  23.434999  23.719999  23.439659  3334800
2021-10-21  23.639999  24.680000  23.120001  23.920000  23.637297  7102500
2021-10-22  23.900000  24.240000  22.690001  23.809999  23.528597  5536600
2021-10-25  24.110001  24.580000  23.889999  24.080000  23.795406  2454100
2021-10-26  24.070000  24.170000  23.430000  23.520000  23.242025  1579700
2021-10-27  23.709999  24.139999  23.459999  23.780001  23.498951  1674900
2021-10-28  23.750000  24.110001  23.510000  23.670000  23.390251  3859900
2021-10-29  23.950001  23.950001  23.280001  23.340000  23.064152  1951700
2021-11-01  23.270000  23.660000  22.930000  23.400000  23.400000  1932100
2021-11-03  23.260000  24.049999  23.120001  23.770000  23.770000  2775500
2021-11-04  23.889999  24.030001  23.430000  23.600000  23.600000  1694400
2021-11-05  23.770000  24.389999  23.770000  24.110001  24.110001  1344100

SULA11:
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2021-10-15  26.070000  26.700001  25.830000  26.559999  26.559999  2781200
2021-10-18  26.200001  26.639999  25.750000  26.340000  26.340000  2483600
2021-10-19  26.309999  26.389999  25.160000  25.480000  25.480000  2947300
2021-10-20  25.570000  26.469999  25.570000  26.260000  26.260000  4705200
2021-10-21  25.700001  25.820000  24.969999  25.540001  25.540001  4467200
2021-10-22  25.350000  25.940001  24.410000  25.620001  25.620001  6408100
2021-10-25  25.780001  26.350000  25.270000  25.930000  25.930000  4093600
2021-10-26  25.809999  25.900000  25.200001  25.480000  25.480000  3549000
2021-10-27  25.629999  26.820000  25.360001  26.459999  26.459999  3928400
2021-10-28  26.200001  26.500000  25.540001  25.590000  25.590000  5127000
2021-10-29  25.770000  26.459999  25.240000  25.969999  25.969999  5774300
2021-11-01  26.160000  26.350000  25.740000  25.959999  25.959999  2967100
2021-11-03  25.820000  27.559999  25.809999  27.480000  27.480000  5179200
2021-11-04  27.480000  28.080000  27.030001  27.520000  27.520000  4597100
2021-11-05  27.799999  28.469999  27.410000  28.139999  28.139999  4287600