In [1]:
import pyodbc
import pandas as pd

In [2]:
def SQLSelect(query):
    try:
        conn = pyodbc.connect('Trusted_Connection=yes', 
                      driver = '{ODBC Driver 13 for SQL Server}',
                      server = '(localdb)\MSSQLLocalDB', 
                      database = 'FinalETLProd') 

        out = pd.read_sql_query(query,conn)
        return out
        print('conectado')
    except:
        print('erro ao conectar')

In [4]:
query = '''
    SELECT [DATA]
      ,[NO_ACAO]
      ,[CO_ACAO]      
      ,[FECHAMENTO]
      ,[VARIACAO]      
      ,[DATA_CARGA]
  FROM [FinalETLProd].[dbo].[ACOES]
'''
SQLSelect(query)

erro ao conectar

In [15]:
#função de conexão para trucar a tabela.
def SQLTruncate(NomeTabela):
        conn = pyodbc.connect('Trusted_Connection=yes', 
                        driver = '{ODBC Driver 13 for SQL Server}',
                        server = '(localdb)\MSSQLLocalDB', 
                        database = 'FinalETLProd') 


        cursor = conn.cursor()

        cursor.execute(f'''

                   TRUNCATE TABLE {NomeTabela}

                   ''')

        conn.commit()
        cursor.close()

In [16]:
#Apaga os dados da tabela que será informada entre as aspas.
SQLTruncate('ACOES')

In [34]:
def SQLInsertDados(TabelaRecepDados):
    base = (['DATA', 'NO_ACAO', 'CO_ACAO', 'FECHAMENTO', 'VARIACAO'] )
    TabelaRecepDados = base.append(TabelaRecepDados)
    
    conn = pyodbc.connect('Trusted_Connection=yes', 
                          driver = '{ODBC Driver 13 for SQL Server}',
                          server = '(localdb)\MSSQLLocalDB', 
                          database = 'FinalETLProd')
    
    
    cursor = conn.cursor()
    
    for index, row in TabelaRecepDados:
        cursor.execute('''
        INSERT INTO [DBO].[ACOES]
            ([DATA],
            [NO_ACAO],
            [CO_ACAO], 
            [FECHAMENTO],
            [VARIACAO] 
            )
        VALUES
             (?,?,?,?,?) 
         ''' , # mesma quantidade de variáveis
    
        row['DATA'], 
        row['NO_ACAO'], 
        row['CO_ACAO'], 
        row['FECHAMENTO'], 
        row['VARIACAO']    
        )
    
    conn.commit()
    cursor.close()

In [35]:
DATA = '2021-11-01'
NO_ACAO = 'FUNDO IMOBILIÁRIO'
CO_ACAO = 'CXCO11'
FECHAMENTO = '89,00'
ACOES = (DATA, NO_ACAO, CO_ACAO, FECHAMENTO)
SQLInsertDados(ACOES)

TypeError: 'NoneType' object is not iterable