In [1]:
# gcontext = ssl.SSLContext() usado junto com a biblioteca urllib
# url = "https://www.infomoney.com.br/cotacoes/"
# navegador.get(url)
# navegador.find_element_by_xpath('/html/body/div[7]/div/div[1]/div[2]/div/table/thead/tr/th[1]').click() #faz a ordenação da coluna de data no site do infomoney
# display(pd_html[0].head())
# pd_html[0].info()
# pd_html[0]
# df.info()
# df.astype('str').dtypes
# df[['FECHAMENTO']].head(1)
#navegador = webdriver.Firefox(executable_path='./geckodriver.exe', options=firefox_options)
# navegador.maximize_window()
#sigla_re = re.findall(r'\((.*?)\)',sigla_html.text)
#sigla_series = pd.Series([sigla_re])
#sigla_df = pd.DataFrame([sigla_re])
# sigla_html = navegador.find_element_by_xpath('/html/body/div[4]/div/div[1]/div[1]/div/div[1]/h1')
# sigla_re = re.findall(r'\((.*?)\)',sigla_html.text)
# sigla_str = sigla_html.text[-7:-1]
# sigla_str
# sigla_str = sigla_html.text[sigla_re]
#sigla_series = pd.DataFrame(sigla_re)
# sigla_series
#sigla_str = sigla_html.text[-7:-1]
#sigla_str = re.findall(r'\((.*?)\)',sigla_html.text)

In [1]:
# ##### bibliotecas utilizadas na captura dos dados.
# from urllib.error import URLError, HTTPError
# import urllib
# # import re #regex
# import numpy as np
# from urllib.request import urlopen, Request
import pandas as pd
import requests as rs
from bs4 import BeautifulSoup as bs
import ssl
from selenium import webdriver
from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
import time
import pandas_datareader.data as web

In [2]:
navegador = webdriver.FirefoxProfile()
navegador.set_preference("browser.privatebrowsing.autostart", True)
firefox_options = Options()
firefox_options.add_argument("--headless")
navegador = webdriver.Firefox(
    firefox_profile=navegador, options=firefox_options)
agente = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36'
headers = {'User-Agent': agente}

In [3]:
# percorre a requisição e captura o html de cada pagina
# dataframe vindo da planilha de empresas.
empresas_df = pd.read_excel('EmpresasInfomoney.xlsx')
url = "https://www.infomoney.com.br/cotacoes/"
tabelaResul = []
contador = 0
while (contador < len(empresas_df)):
    for empresa in empresas_df["Empresas"]:
        url_nv = ''.join([url, empresa, '/historico/'])
        # print(empresa)
        navegador.get(url_nv)
        time.sleep(5)
        conteudo = rs.get(url_nv, headers=headers)
        time.sleep(3)
        # encontra o elemento da pagina e grava na memoria os dados da tabela.
        tb_din = navegador.find_element_by_xpath(
            '//*[@id="quotes_history"]').get_attribute('outerHTML')
        sigla_html = navegador.find_element_by_xpath(
            '/html/body/div[4]/div/div[1]/div[1]/div/div[1]/h1')
        # , index_col="DATA" incluir após thousands para colocar a data como indice.
        pd_html = pd.read_html(tb_din, decimal=',', thousands='.')
        df = pd.DataFrame(pd_html[0])
        df['EMPRESA'] = sigla_html.text
        time.sleep(3)
        tabelaResul.append(df)
        contador += 1
        time.sleep(3)

In [39]:
for i  in range(len(empresas_df)):
    pdf=pd.DataFrame(tabelaResul[i].head(), columns =None)
    display(pdf[['DATA', 'FECHAMENTO','EMPRESA']])

         DATA  FECHAMENTO          EMPRESA
0  10/11/2021      105968  Ibovespa (IBOV)
1  09/11/2021      105535  Ibovespa (IBOV)
2  08/11/2021      104781  Ibovespa (IBOV)
3  05/11/2021      104824  Ibovespa (IBOV)
4  04/11/2021      103412  Ibovespa (IBOV)

         DATA  FECHAMENTO                   EMPRESA
0  10/11/2021        9.08  Caixa Seguridade (CXSE3)
1  09/11/2021        9.06  Caixa Seguridade (CXSE3)
2  08/11/2021        9.00  Caixa Seguridade (CXSE3)
3  05/11/2021        9.12  Caixa Seguridade (CXSE3)
4  04/11/2021        8.82  Caixa Seguridade (CXSE3)

         DATA  FECHAMENTO                EMPRESA
0  10/11/2021       23.12  BB Seguridade (BBSE3)
1  09/11/2021       23.44  BB Seguridade (BBSE3)
2  08/11/2021       22.82  BB Seguridade (BBSE3)
3  05/11/2021       22.84  BB Seguridade (BBSE3)
4  04/11/2021       22.64  BB Seguridade (BBSE3)

         DATA  FECHAMENTO                   EMPRESA
0  10/11/2021       86.00  Fundo Imobiliário CXCO11
1  09/11/2021       87.50  Fundo Imobiliário CXCO11
2  08/11/2021       88.58  Fundo Imobiliário CXCO11
3  05/11/2021       89.30  Fundo Imobiliário CXCO11
4  04/11/2021       89.60  Fundo Imobiliário CXCO11

         DATA  FECHAMENTO               EMPRESA
0  10/11/2021       24.91  Porto Seguro (PSSA3)
1  09/11/2021       24.57  Porto Seguro (PSSA3)
2  08/11/2021       24.09  Porto Seguro (PSSA3)
3  05/11/2021       24.11  Porto Seguro (PSSA3)
4  04/11/2021       23.60  Porto Seguro (PSSA3)

         DATA  FECHAMENTO               EMPRESA
0  10/11/2021       29.68  Sul América (SULA11)
1  09/11/2021       28.74  Sul América (SULA11)
2  08/11/2021       28.07  Sul América (SULA11)
3  05/11/2021       28.14  Sul América (SULA11)
4  04/11/2021       27.52  Sul América (SULA11)