In [ ]:
# gcontext = ssl.SSLContext() usado junto com a biblioteca urllib
# url = "https://www.infomoney.com.br/cotacoes/"
# navegador.get(url)
# navegador.find_element_by_xpath('/html/body/div[7]/div/div[1]/div[2]/div/table/thead/tr/th[1]').click() #faz a ordenação da coluna de data no site do infomoney
# display(pd_html[0].head())
# pd_html[0].info()
# pd_html[0]
# df.info()
# df.astype('str').dtypes
# df[['FECHAMENTO']].head(1)
#navegador = webdriver.Firefox(executable_path='./geckodriver.exe', options=firefox_options)
# navegador.maximize_window()
#sigla_re = re.findall(r'\((.*?)\)',sigla_html.text)
#sigla_series = pd.Series([sigla_re])
#sigla_df = pd.DataFrame([sigla_re])
# sigla_html = navegador.find_element_by_xpath('/html/body/div[4]/div/div[1]/div[1]/div/div[1]/h1')
# sigla_re = re.findall(r'\((.*?)\)',sigla_html.text)
# sigla_str = sigla_html.text[-7:-1]
# sigla_str
# sigla_str = sigla_html.text[sigla_re]
#sigla_series = pd.DataFrame(sigla_re)
# sigla_series
#sigla_str = sigla_html.text[-7:-1]
#sigla_str = re.findall(r'\((.*?)\)',sigla_html.text)

In [52]:
# ##### bibliotecas utilizadas na captura dos dados.
# from urllib.error import URLError, HTTPError
# import urllib
# # import re #regex
# import numpy as np
# from urllib.request import urlopen, Request
import pandas as pd
import requests as rs
from bs4 import BeautifulSoup as bs
import ssl
from selenium import webdriver
from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
import time
import pandas_datareader.data as web

In [53]:
navegador = webdriver.FirefoxProfile()
navegador.set_preference("browser.privatebrowsing.autostart", True)
firefox_options = Options()
firefox_options.add_argument("--headless")
navegador = webdriver.Firefox(
    firefox_profile=navegador, options=firefox_options)
agente = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36'
headers = {'User-Agent': agente}

In [140]:
# percorre a requisição e captura o html de cada pagina
# dataframe vindo da planilha de empresas.
empresas_df = pd.read_excel('EmpresasInfomoney.xlsx')
url = "https://www.infomoney.com.br/cotacoes/"
tabelaResul = pd.DataFrame()
sigla_html = pd.DataFrame()
contador = 0
while (contador < len(empresas_df)):
    for empresa in empresas_df["Empresas"]:
        url_nv = ''.join([url, empresa, '/historico/'])
        # print(empresa)
        navegador.get(url_nv)
        time.sleep(5)
        conteudo = rs.get(url_nv, headers=headers)
        time.sleep(3)
        # encontra o elemento da pagina e grava na memoria os dados da tabela.
        tb_din = navegador.find_element_by_xpath(
            '//*[@id="quotes_history"]').get_attribute('outerHTML')
        sigla_html = navegador.find_element_by_xpath(
            '/html/body/div[4]/div/div[1]/div[1]/div/div[1]/h1')
        # , index_col="DATA" incluir após thousands para colocar a data como indice.
        pd_html = pd.read_html(tb_din, decimal=',', thousands='.')
        df = pd.DataFrame(pd_html[0])
        df['EMPRESA'] = sigla_html.text
        time.sleep(3)
        tabelaResul.append(df)
        contador += 1
        time.sleep(3)

In [141]:
empresas_df

                   Empresas
0                  ibovespa
1    caixa-seguridade-cxse3
2       bb-seguridade-bbse3
3  fundo-imobiliario-cxco11
4        porto-seguro-pssa3
5         sulamerica-sula11

In [ ]:
sigla_html.text

In [131]:
# dft.filter(['DATA','FECHAMENTO','EMPRESA']).head()
for i in range(len(empresas_df)):
      print(i)

0
1
2
3
4
5

In [ ]:
for empresa in empresas_df["Empresas"]:
    url_nv = ''.join([url, empresa, '/historico/'])
    # print(empresa)
    navegador.get(url_nv)
    time.sleep(5)
    conteudo = rs.get(url_nv, headers=headers)
    time.sleep(3)
    # encontra o elemento da pagina e grava na memoria os dados da tabela.
    tb_din = navegador.find_element_by_xpath(
        '//*[@id="quotes_history"]').get_attribute('outerHTML')
    sigla_html = navegador.find_element_by_xpath(
        '/html/body/div[4]/div/div[1]/div[1]/div/div[1]/h1')
    # , index_col="DATA" incluir após thousands para colocar a data como indice.
    pd_html = pd.read_html(tb_din, decimal=',', thousands='.')
    df = pd.DataFrame(pd_html[0])
    df['EMPRESA'] = sigla_html.text
    time.sleep(3)
    tabelaResul.append(df)
    contador += 1
    time.sleep(3)

In [105]:
tabelaResul.head()

Empty DataFrame
Columns: []
Index: []

In [99]:
df.head()

,DATA,ABERTURA,FECHAMENTO,VARIAÇÃO,MÍNIMO,MÁXIMO,VOLUME,EMPRESA
0,09/11/2021,28.07,28.74,2.39,27.96,28.92,"84,01M",Sul América (SULA11)
1,08/11/2021,27.81,28.07,-0.25,27.56,28.39,"86,65M",Sul América (SULA11)
2,05/11/2021,27.80,28.14,2.25,27.41,28.47,"119,93M",Sul América (SULA11)
3,04/11/2021,27.48,27.52,0.15,27.03,28.08,"126,47M",Sul América (SULA11)
4,03/11/2021,25.82,27.48,5.86,25.81,27.56,"139,99M",Sul América (SULA11)