In [ ]:
import pandas as pd
import requests as rs
# from IPython.display import HTML
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup as bs
from urllib.error import URLError, HTTPError
import urllib
from urllib.request import urlopen, Request
import ssl
from selenium import webdriver
from selenium.webdriver import Firefox
import time
import pandas_datareader.data as web

In [ ]:
navegador = webdriver.Firefox(executable_path='./geckodriver.exe')
navegador.maximize_window()

In [ ]:
agente = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36'
headers = {'User-Agent': agente}
# gcontext = ssl.SSLContext() usado junto com a biblioteca urllib

In [ ]:
# url = "https://www.infomoney.com.br/cotacoes/"
# navegador.get(url)

In [ ]:

empresas_df = pd.read_excel('EmpresasInfomoney.xlsx')
print((empresas_df))
empresas = [empresas_df]
print(type(empresas))
# empresa[3]
contador = 0
while (contador < len(empresas_df)):
    print("a empresa é :"+empresas_df)
    contador +=1

In [21]:
#percorre a requisição e captura o html de cada pagina
empresas_df = pd.read_excel('EmpresasInfomoney.xlsx')
url = "https://www.infomoney.com.br/cotacoes/"

contador = 0
while (contador < len(empresas_df)):
    for empresa in empresas_df["Empresas"]:
        url_nv = ''.join([url,empresa,'/historico/'])
        #print(empresa)
        navegador.get(url_nv)
        time.sleep(5)
        conteudo = rs.get(url_nv, headers=headers)
        time.sleep(2)
        tb_din = navegador.find_element_by_xpath('//*[@id="quotes_history"]').get_attribute('outerHTML')#encontra o elemento da pagina e grava na memoria os dados da tabela.
        df = pd.read_html(tb_din, decimal = ',', thousands = '.', index_col="DATA")
        time.sleep(2)
        display(df[0].head())
        contador +=1  
        time.sleep(3)

           ABERTURA  FECHAMENTO  VARIAÇÃO  MÍNIMO  MÁXIMO  VOLUME
DATA
05/11/2021   103412      104824      1.37  103412  105555  35,83B
04/11/2021   105617      103412     -2.09  102835  105627  36,01B
03/11/2021   105547      105617      0.06  104205  106754  42,33B
01/11/2021   103514      105551      1.98  103514  106136  31,24B
29/10/2021   105707      103501     -2.09  103430  105954  38,74B

           ABERTURA  FECHAMENTO  VARIAÇÃO  MÍNIMO  MÁXIMO  VOLUME
DATA
05/11/2021     8.88        9.12      3.40    8.70    9.15  35,75M
04/11/2021     8.83        8.82      0.00    8.75    9.03  38,40M
03/11/2021     8.73        8.82      0.89    8.58    8.92  29,17M
01/11/2021      n/d        8.74      2.63    8.44    8.79  19,39M
29/10/2021     8.58        8.52     -0.34    8.41    8.65  31,60M

           ABERTURA  FECHAMENTO  VARIAÇÃO  MÍNIMO  MÁXIMO   VOLUME
DATA
05/11/2021    22.80       22.84      0.88   22.48   22.85   84,15M
04/11/2021    22.60       22.64      0.13   22.30   22.85   92,95M
03/11/2021    22.00       22.61      2.54   22.00   22.69  164,69M
01/11/2021      n/d       22.05     -0.18   22.02   22.46   71,44M
29/10/2021    22.30       22.09     -0.36   22.01   22.48  141,08M

           ABERTURA  FECHAMENTO  VARIAÇÃO  MÍNIMO  MÁXIMO   VOLUME
DATA
05/11/2021    89.63       89.30     -0.33   89.03   90.29  107,82K
04/11/2021    89.61       89.60     -0.02   89.60   91.75  427,45K
03/11/2021    90.98       89.62      0.70   89.00   90.98   53,40K
01/11/2021      n/d       89.00     -1.02   88.93   91.00  154,07K
29/10/2021    89.80       89.92      0.13   89.70   90.30  142,18K

           ABERTURA  FECHAMENTO  VARIAÇÃO  MÍNIMO  MÁXIMO  VOLUME
DATA
05/11/2021    23.77       24.11      2.16   23.77   24.39  32,33M
04/11/2021    23.89       23.60     -0.72   23.43   24.03  39,69M
03/11/2021    23.26       23.77      1.58   23.12   24.05  65,70M
01/11/2021      n/d       23.40      1.47   22.93   23.66  43,12M
29/10/2021    23.66       23.06     -1.39   23.00   23.66  45,28M

           ABERTURA  FECHAMENTO  VARIAÇÃO  MÍNIMO  MÁXIMO   VOLUME
DATA
05/11/2021    27.80       28.14      2.25   27.41   28.47  119,93M
04/11/2021    27.48       27.52      0.15   27.03   28.08  126,47M
03/11/2021    25.82       27.48      5.86   25.81   27.56  139,99M
01/11/2021      n/d       25.96     -0.04   25.74   26.35   69,64M
29/10/2021    25.77       25.97      1.49   25.24   26.46  150,24M

In [ ]:
navegador.find_element_by_xpath('/html/body/div[7]/div/div[1]/div[2]/div/table/thead/tr/th[1]').click()